Test/Assembly/Snowden.Reconcilor.Bhpbio.Import/Service References/MaterialTrackerService/MaterialTrackerWebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0/Imports">
      <xsd:import schemaLocation="http://abarmouta.snowdenau.com/ImportWebServices/MaterialTrackerWebService.svc?xsd=xsd0" namespace="http://www.bhpbilliton.com/waio/F1F2F3DataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrievePortBalancesRequest1">
    <wsdl:part xmlns:q1="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrievePortBalancesRequest" element="q1:RetrievePortBalancesRequest" />
  </wsdl:message>
  <wsdl:message name="retrievePortBalancesResponse1">
    <wsdl:part xmlns:q2="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrievePortBalancesResponse" element="q2:RetrievePortBalancesResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveShippingRequest1">
    <wsdl:part xmlns:q3="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveShippingRequest" element="q3:RetrieveShippingRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveShippingResponse1">
    <wsdl:part xmlns:q4="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveShippingResponse" element="q4:RetrieveShippingResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveMETBalancingRequest1">
    <wsdl:part xmlns:q5="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveMETBalancingRequest" element="q5:RetrieveMETBalancingRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveMETBalancingResponse1">
    <wsdl:part xmlns:q6="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveMETBalancingResponse" element="q6:RetrieveMETBalancingResponse" />
  </wsdl:message>
  <wsdl:message name="retrievePortBlendingRequest1">
    <wsdl:part xmlns:q7="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrievePortBlendingRequest" element="q7:RetrievePortBlendingRequest" />
  </wsdl:message>
  <wsdl:message name="retrievePortBlendingResponse1">
    <wsdl:part xmlns:q8="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrievePortBlendingResponse" element="q8:RetrievePortBlendingResponse" />
  </wsdl:message>
  <wsdl:portType name="IM_MT_DS">
    <wsdl:operation name="retrievePortBalances">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrievePortBalances" name="retrievePortBalancesRequest1" message="tns:retrievePortBalancesRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0/IM_MT_DS/retrievePortBalancesResponse" name="retrievePortBalancesResponse1" message="tns:retrievePortBalancesResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveShipping">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveShipping" name="retrieveShippingRequest1" message="tns:retrieveShippingRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0/IM_MT_DS/retrieveShippingResponse" name="retrieveShippingResponse1" message="tns:retrieveShippingResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveMETBalancing">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveMETBalancing" name="retrieveMETBalancingRequest1" message="tns:retrieveMETBalancingRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0/IM_MT_DS/retrieveMETBalancingResponse" name="retrieveMETBalancingResponse1" message="tns:retrieveMETBalancingResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrievePortBlending">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrievePortBlending" name="retrievePortBlendingRequest1" message="tns:retrievePortBlendingRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MT/v1.0/IM_MT_DS/retrievePortBlendingResponse" name="retrievePortBlendingResponse1" message="tns:retrievePortBlendingResponse1" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>