Test/Assembly/Snowden.Reconcilor.Bhpbio.Import/Service References/MQ2Service/MQ2WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/Imports">
      <xsd:import schemaLocation="http://abarmouta.snowdenau.com/ImportWebServices/MQ2WebService.svc?xsd=xsd0" namespace="http://www.bhpbilliton.com/waio/F1F2F3DataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrieveHaulageRequest1">
    <wsdl:part xmlns:q1="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveHaulageRequest" element="q1:RetrieveHaulageRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveHaulageResponse1">
    <wsdl:part xmlns:q2="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveHaulageResponse" element="q2:RetrieveHaulageResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveProductionMovementsRequest1">
    <wsdl:part xmlns:q3="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveProductionMovementsRequest" element="q3:RetrieveProductionMovementsRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveProductionMovementsResponse1">
    <wsdl:part xmlns:q4="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveProductionMovementsResponse" element="q4:RetrieveProductionMovementsResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveStockpilesRequest1">
    <wsdl:part xmlns:q5="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveStockpilesRequest" element="q5:RetrieveStockpilesRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveStockpilesResponse1">
    <wsdl:part xmlns:q6="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveStockpilesResponse" element="q6:RetrieveStockpilesResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveStockpileAdjustmentsRequest1">
    <wsdl:part xmlns:q7="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveStockpileAdjustmentsRequest" element="q7:RetrieveStockpileAdjustmentsRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveStockpileAdjustmentsResponse1">
    <wsdl:part xmlns:q8="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveStockpileAdjustmentsResponse" element="q8:RetrieveStockpileAdjustmentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IM_MQ2_DS">
    <wsdl:operation name="retrieveHaulage">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveHaulage" name="retrieveHaulageRequest1" message="tns:retrieveHaulageRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/IM_MQ2_DS/retrieveHaulageResponse" name="retrieveHaulageResponse1" message="tns:retrieveHaulageResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveProductionMovements">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveProductionMovements" name="retrieveProductionMovementsRequest1" message="tns:retrieveProductionMovementsRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/IM_MQ2_DS/retrieveProductionMovementsResponse" name="retrieveProductionMovementsResponse1" message="tns:retrieveProductionMovementsResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveStockpiles">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveStockpiles" name="retrieveStockpilesRequest1" message="tns:retrieveStockpilesRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/IM_MQ2_DS/retrieveStockpilesResponse" name="retrieveStockpilesResponse1" message="tns:retrieveStockpilesResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveStockpileAdjustments">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveStockpileAdjustments" name="retrieveStockpileAdjustmentsRequest1" message="tns:retrieveStockpileAdjustmentsRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/IM_MQ2_DS/retrieveStockpileAdjustmentsResponse" name="retrieveStockpileAdjustmentsResponse1" message="tns:retrieveStockpileAdjustmentsResponse1" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>