Test/Assembly/Snowden.Reconcilor.Bhpbio.Import/Service References/BlastholesService/BlastholesWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:tns="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/Blastholes/v1.0" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/Blastholes/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/Blastholes/v1.0/Imports">
      <xsd:import schemaLocation="http://abarmouta.snowdenau.com/ImportWebServices/BlastholesWebService.svc?xsd=xsd0" namespace="http://www.bhpbilliton.com/waio/F1F2F3DataService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="retrieveReconciliationBlocksRequest1">
    <wsdl:part xmlns:q1="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveReconciliationBlocksRequest" element="q1:RetrieveReconciliationBlocksRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveReconciliationBlocksResponse1">
    <wsdl:part xmlns:q2="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveReconciliationBlocksResponse" element="q2:RetrieveReconciliationBlocksResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveReconciliationDeletedBlocksRequest1">
    <wsdl:part xmlns:q3="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveReconciliationDeletedBlocksRequest" element="q3:RetrieveReconciliationDeletedBlocksRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveReconciliationDeletedBlocksResponse1">
    <wsdl:part xmlns:q4="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveReconciliationDeletedBlocksResponse" element="q4:RetrieveReconciliationDeletedBlocksResponse" />
  </wsdl:message>
  <wsdl:message name="retrieveReconciliationMovementsRequest1">
    <wsdl:part xmlns:q5="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveReconciliationMovementsRequest" element="q5:RetrieveReconciliationMovementsRequest" />
  </wsdl:message>
  <wsdl:message name="retrieveReconciliationMovementsResponse1">
    <wsdl:part xmlns:q6="http://www.bhpbilliton.com/waio/F1F2F3DataService" name="RetrieveReconciliationMovementsResponse" element="q6:RetrieveReconciliationMovementsResponse" />
  </wsdl:message>
  <wsdl:portType name="IM_Blastholes_DS">
    <wsdl:operation name="retrieveReconciliationBlocks">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveReconciliationBlocks" name="retrieveReconciliationBlocksRequest1" message="tns:retrieveReconciliationBlocksRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/Blastholes/v1.0/IM_Blastholes_DS/retrieveReconciliationBlocksResponse" name="retrieveReconciliationBlocksResponse1" message="tns:retrieveReconciliationBlocksResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveReconciliationDeletedBlocks">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveReconciliationDeletedBlocks" name="retrieveReconciliationDeletedBlocksRequest1" message="tns:retrieveReconciliationDeletedBlocksRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/Blastholes/v1.0/IM_Blastholes_DS/retrieveReconciliationDeletedBlocksResponse" name="retrieveReconciliationDeletedBlocksResponse1" message="tns:retrieveReconciliationDeletedBlocksResponse1" />
    </wsdl:operation>
    <wsdl:operation name="retrieveReconciliationMovements">
      <wsdl:input wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/MQ2/v1.0/retrieveReconciliationMovements" name="retrieveReconciliationMovementsRequest1" message="tns:retrieveReconciliationMovementsRequest1" />
      <wsdl:output wsaw:Action="http://www.bhpbilliton.com/waio/F1F2F3ReconciliationDataService/Blastholes/v1.0/IM_Blastholes_DS/retrieveReconciliationMovementsResponse" name="retrieveReconciliationMovementsResponse1" message="tns:retrieveReconciliationMovementsResponse1" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>